{%load static%}
<header>
<nav>
  <div class="navcontainer">
    <div class="navbar-brandname">
      <a class="navbar-brand" href="{% url 'recetas-list' %}">
        <i class="fa-solid fa-utensils navbarlogo"></i>    
      </a>

      {% if receta %}
        <p class="navTitle">{{receta.nombre_receta}} | El Recetario de la Abuela</p>
      {% else %}
        <p class="navTitle"> El Recetario de la Abuela</p>
      {% endif %}
    </div>

    <div class="boton-container">
      <a href="{% url 'nueva-receta' %}" class="boton">Agregar Receta</a>
    </div>
  </div>
</nav>
</header>