{% extends 'base.html' %}

{% block page_title %}{{receta_name|title}}{% endblock %}

{% block content %}
    {%include 'recetario/includes/header.html'%}
    <a href="{% url 'index' %}">Regresar</a>
    <h1>{{receta_name|title}}</h1>
    <h2>{{receta_text}}</h2>

    <h3>Tiempo de preparación</h3>
    <p>{{tiempo}}</p>

    <h3>Utensilios</h3>
    {% for utensilio in utensilios %}
        <ul>
            <li>{{utensilio|title}}</li>
        </ul>
    {% endfor %}

    <h3>Ingredientes</h3>
    {% for ingrediente in ingredientes %}
        <ul>
            <li>{{ingrediente|capfirst}}</li>
        </ul>
    {% endfor %}
    
    <h3>Procedimiento</h3>
    {% for paso in procedimiento %}
        <ol>
            <li>{{paso|capfirst}}.</li>
        </ol>
    {% endfor %}


{% endblock %}