{% extends 'recetario/base.html' %}
{% load static %}

{% block page_title %}{{receta.nombre_receta|title}} | El Recetario de la Abuela {% endblock %}

{% block content %}
<div class="recetas_container">
    <a href="{% url 'recetas-list' %}"><i class="fa-solid fa-arrow-left arrow-link"></i></a>
    <h1>{{receta.nombre_receta|title}}</h1>
    <h2>{{receta.descripcion}}</h2>

    {% if receta.image %}
        <img src="{{ receta.image.url }}" width="200" >
    {%else%}
        <img src="{% static 'recetario/placeholder.png' %}" width="200" >
    {%endif%}

    <div class="receta_title">
    <i class="fa-solid fa-blender"></i><h3>Utensilios</h3>
    </div>
        <ul>
        {% for utensilio in utensilios %}
         <li>{{utensilio|title}}</li>
        {% endfor %}
        </ul>

    <div class="receta_title">
    <i class="fa-solid fa-carrot"></i><h3>Ingredientes</h3>
    </div>
    <ul>
    {% for ingrediente in ingredientes %}
        
            <li>{{ingrediente|capfirst}}</li>
        
    {% endfor %}
    </ul>
    
    <div class="receta_title">
    <i class="fa-solid fa-kitchen-set"></i><h3>Procedimiento</h3>
    </div>
        <ol>
        {% for paso in procedimiento %}
            
                <li>{{paso|capfirst}}.</li>
            
        {% endfor %}
        </ol>
</div>

{% endblock %}