@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    margin: 0;
    background-color: #EFECE3;
    height: 100%;
    font-family: "Inter";
    font-weight: 300;
}

.main_container{
    display:flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #4A70A9;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}

h3{
    color: #EFECE3;;
    font-family: "Bricolage Grotesque", sans-serif;
    font-size: 2rem;
    font-weight: 800;
}

.navbar-brandname{
    display:flex;
    align-items: center;
}

.navbarlogo{
    padding-left: 15px;
    font-size: 50px;
}

.navcontainer{
    display: flex;
    background-color: #4A70A9;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    font-family: "Bricolage Grotesque", sans-serif;
    color: #EFECE3;
    font-weight: 600;
}

.navTitle{
    font-size: 200%;
    padding-left: 20px;
}

.boton-container{
    display: flex;
    height: 80%;
    align-items: center;
    padding-right: 3rem;
}
.boton{
    background-color: #000000;
    padding: 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 800;
    font-family: "Bricolage Grotesque", sans-serif;
    color:#EFECE3;
    filter: drop-shadow(0px 0px 0px #4A70A9);
    transition: color 500ms, background-color 500ms, filter 800ms ;
}

.boton:hover{
    background-color: #add3ff;
    color:#000000;
    filter: drop-shadow(0px 0px 30px #f0f3f7);
}

.card-title{
    color: #4A70A9;
    margin: 0;
}

.hero{
    width:100%;
    height:50vh;
    overflow: hidden;
}

.hero img{
    width:100%;
    transform: translateY(-500px);
}

.list_container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.list_element-container{
    display: flex;
    min-width: 20rem;
    max-width: 20rem;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    filter: drop-shadow(0px 0px 5px #7497ca44);
    padding: 30px;
    margin: 10px;
    border-radius: 15px;
    justify-content: center;
}

.list_container-botones{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
}

.list_container-botones a{
    text-decoration: none;
    padding-inline: 5px;
}

.list_image-container{
    height: 10rem;
    overflow: hidden;
    border-radius: 20px;
}

.list_image{
    width:100%;
}

.list_boton{
    background-color: #4A70A9;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    font-family: "Bricolage Grotesque", sans-serif;
    color:#EFECE3;
    filter: drop-shadow(0px 0px 0px #4A70A9);
    transition: color 500ms, background-color 500ms, filter 800ms ;
    width: 6rem;
    margin: 30px 0px 5px;
}

.list_boton:hover{
    background-color: #F87B1B;
    color: #EFECE3;
}

.card-title{
    margin: 0;
    padding-top: 2rem;
}

.boton:hover{
    background-color: #add3ff;
    color:#000000;
    filter: drop-shadow(0px 0px 30px #f0f3f7);
}

.fa-solid{
    color: #8FABD4;
    transition: color 500ms;
}

.fa-solid:hover{
    color: #F87B1B;
}

.form{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    min-width: 400px;
    padding: 40px;
    margin: 30px 0px;
    background-color: white;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 20px #bccbe2);
    font-weight: 600;
}

.form h4{
    font-weight: 400;
    color:#bccbe2;
    margin: 0;
}

.form_field{
    display: flex;
    justify-content:space-between;
    padding: 10px;
    align-items: flex-start;
}

.form_field:first-of-type{
    margin-top: 30px;
}

.form_field:last-of-type{
    margin-bottom: 30px;
}

.form_link{
    text-decoration: none;
    padding: 15px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 800;
    font-family: "Bricolage Grotesque", sans-serif;
    color:#000000;
    transition: color 500ms, background-color 500ms, filter 800ms ;
}

.form_link:hover{
    color:#F87B1B;
}

label{
    width: 40%;
}

.arrow-link{
    font-size: 1.5em;
    transition: color 500ms;
}

.arrow-link:hover{
    color:#F87B1B;
}

.recetas_container{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 600px;
    margin: 30px;
    padding: 60px;
    border-radius: 60px;
}

.receta_title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 3rem;
    margin: 1rem 0;
    color: #8FABD4;
}

.receta_title h3{
    color: #8FABD4;
}

.receta_title i{
    font-size: 1.5rem;
    padding: 0 1rem 0 0;
}

.gracias{
    align-items: center;
    padding-top: 5rem;
    font-size: 10rem;
}

.smiley{
    font-size: 15rem;
    padding: 5rem 0;
}

.thank-u{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.thank-u_boton{
    font-size: 4rem;
}

.thank-u_boton a{
    text-decoration: none;
}